@use 'fuentes' as *;
@use 'paleta' as *;


//variables menu
$ds-flex:flex;
$ds-iblock:inline-block;
$al-i:center;
$jc:space-between;

//variables margin
$pt:30px;
$p:8px;
$pl:5px;
$pr:5px;
$pd:0px 20px;

//colores menu
$menu-colort:rgb(255, 255, 255);
$bg:rgb(255, 255, 255);
$bg2:rgb(170, 213, 255);

//centrado y tamaño de imagen
$centrado: 0 auto;
$wm:100%;
$h:auto;
$tama: 8vh;
$mg:16px;
$list-n: none;
$mgl:75px;
$pd:18px 0;
$f:left;
$c-c: rgb(125, 226, 233);
$ft:Times;
$t-a:center;

.fondo-menu{
    width: 100%;
    height: 9vh;
    background-color: $rosa;
}

.navbar{
    text-align: $t-a;
}

.image{
    width: $tama;
    padding: $p;
    float: $f;
}

.etiqueta{
    list-style: $list-n;
    padding: $pd;
    display: $ds-iblock;
    padding: $pd;
    margin-right: $mg;
    font-size: $size-2;
    font-size: $ft;
    transition: transform .2s ease-in;
}

.tx-none{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.etiqueta:hover{
    color:$negro;
    background-color: $bg2;
    transform: translateY(5px);
}

.color{
    color: $menu-colort ;
}

.barra-vertical{
    background-color: lighten($terciario, 30) ;
    width: 19.7%;
    height: 95%;
    margin-top: 9vh;
    overflow-y: auto;
}

.link-s{
    display: block;
    text-decoration: none;
    text-align: justify;
    padding: $mg;
    color: #028c8c;
}

.link-s:hover{
    background-color: $bg2;
}

.fj{
    position: fixed;
} 

.fondo-menu1{
    width: 100%;
    height: 9vh;
    background-color: $rubio;
}

.navbar-3{
    text-align: $t-a;
}

.etiqueta-2{
    list-style: $list-n;
    padding: $pd;
    display: $ds-iblock;
    padding: $pd;
    margin-right: $mg;
    font-size: $size-2;
    font-size: $ft;
    transition: transform .5s ease-in;
}

.tx-none{
    text-decoration: none;
    color:black;
}
    
.etiqueta-2:hover{
    color:$bg;
    background-color: $naranja;
    transform: translateX(20px);
}
    
.color{
    color: $menu-colort ;
}

.link-s{
    display: block;
    text-decoration: none;
    text-align: justify;
    padding: $mg;
    color: black;
}

.link-s:hover{
    background-color: $bg2;
}

.fj{
    position: fixed;
}

@mixin laptop{
    @media screen and (max-height: 860px) {
        @content;
    }
    @media screen and (max-width: 1490px){
        @content;
    }
}

@include laptop(){
    $pd1: 10px;
    .barra-vertical{
        background-color: lighten($primario, 30) ;
        width: 19.7%;
        height: 95%;
        margin-top: 9vh;
        overflow-y: auto;
    }
    .link-s{
        display: block;
        text-decoration: none;
        text-align: justify;
        padding: $pd1;
        color: black;
    }
}
  
.opc{
    width: 100%;
    height: auto;
    display: flex;
}

.navbar-2{
    width: 20%;
    background-color: #6FBFBE;
    text-align: center;
}

.link-{
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid black ;
    border-bottom: 1px solid black ;
    text-align: center;
}

.link-:hover{
    background-color: #028c8c;
}

.barra-vertical {
    background-color: $primario;
    width: 19.7%;
    height: 95%;
    margin-top: 9vh;
    border-radius: 0%;
}
