//Colores RGB
$rgb-1: linear-gradient(90deg, #f70000 0%, #ffee00 100%);
$rgb-2: linear-gradient(90deg, #ffee00 0%, #ffa600 100%);
$rgb-3: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
$rgb-4: linear-gradient(90deg, #95deee 0%, #d3c199 100%);
$rgb-5: linear-gradient(90deg, #b7500b 0%, #e8c069 100%);

$naranja: #b7500b;
$celeste: #63a3ac;
$negro: hsl(0, 0%, 0%);
$blanco: #ffffff;
$aquamarine: #9fd5d5;
$crema: #d3c199;
$rubio: #e8c069;
$rojo: #c70202;
$oscuro: #03001C;

$rbgNaranja: rgba(245, 119, 15, 0.808);
$primario: #b7500b;
$secundario: #63a3ac;
$terciario: #d3c199;
$exito: #9fd5d5;
$peligro: #c70202 ;
$advertencia: #e8c069;
$informacion:  #63a3ac;
$claro: #f2f7f8;
$oscuro: #03001C;

$color-solido: (
    "naranja": $naranja,
    "celeste":$celeste,
    "negro": $negro,
    "blanco": $blanco,
    "aquamarine": $aquamarine,
    "crema": $crema,
    "rubio": $rubio,
    "rojo": $rojo,
    "oscuro": $oscuro,
);

$color-rgb:(
    "rbgNaranja": $rbgNaranja,
    "r1": $rgb-1,
    "r2": $rgb-2,
    "r3": $rgb-3,
    "r4": $rgb-4,
    "r5": $rgb-5,
);

$color-claro: (
    "primario": $primario,
    "exito": $exito,
    "advertencia": $advertencia,
    "informacion": $informacion,
    "claro": $claro,
);
$color-oscuro:(
    "secundario": $secundario,
    "terciario":$terciario,
    "peligro": $peligro,
    "oscuro": $oscuro,

);

@each $color, $valorcolor in $color-solido {
    .cf-#{$color} {   
        background-color: $valorcolor;
    }
}

@each $color, $valorcolor in $color-rgb {
    .cf-#{$color} {   
        background-image: $valorcolor;
    }
}