//Colores RGB
$rgb-1: linear-gradient(90deg, #d3d4d6b4 0%, #83e1fdb6 100%);
$rgb-2: linear-gradient(90deg, #00ffff 0%, #ffcc00 100%);
$rgb-3: linear-gradient(90deg, #99ccff 0%, #3399ff 100%);
$rgb-4: linear-gradient(90deg, #66ccff 0%, #ffdab9 100%);
$rgb-5: linear-gradient(90deg, #c70202 0%, #effd25 100%);

// Colores
$terciario: #e8c069;
$secundario: #63a3ac;
$primario: #DABCB4;

// Colores amanecer/atardecer
$naranja: #f87f2f;
$amarillo: #effd25;
$rojo: #c70202;


// Colores claros y oscuros
$negro: hsl(0, 22%, 24%);
$blanco: #ffffff;
$claro: #f2f7f8;
$oscuro: #03001C;

// Colores arena
$crema: #d3c199;
$rubio: #e8c069;
$piel: #F3D5BD;
$rosa: #DABCB4;

// Colores agua
$aquamarine: #9fd5d5;
$azulito: #a3bcc0;
$aqua: #6fbfbe;
$turquesa: #028c8c;
$celeste: #69e4e8;

// Colores de alertas
$exito: #64ec49;
$peligro: #d63636 ;
$advertencia: #ebe04a;
$informacion:  #63a3ac;

$color-solido: (
    "negro": $negro,
    "blanco":$blanco,
    "aquamarine": $aquamarine,
    "piel": $piel,
    "azulito": $azulito,
    "aqua": $aqua,
    "rosa": $rosa,
    "turquesa": $turquesa,
    "rubio": $rubio,
    "celeste": $celeste,
    "amarillo": $amarillo,
    "naranja": $naranja,
    "rojo": $rojo,
    "crema": $crema,
);

$color-rgb:(
    "r1": $rgb-1,
    "r2": $rgb-2,
    "r3": $rgb-3,
    "r4": $rgb-4,
    "r5": $rgb-5,
);

$color-claro: (
    "exito": $exito,
    "advertencia": $advertencia,
    "informacion": $informacion,
    "claro": $claro,
    "rosa": $rosa,
    "rubio": $rubio,
    "primario": $primario,
    "piel": $piel,
    "azulito": $azulito,
    "terciario": $terciario,
);
$color-oscuro:(
    "peligro": $peligro,
    "oscuro": $oscuro,
    "turquesa": $turquesa,
    "secundario": $secundario,
    "terciario": $terciario,
    "aqua": $aqua,
);

@each $color, $valorcolor in $color-solido {
    .cf-#{$color} {   
        background-color: $valorcolor;
    }
}

@each $color, $valorcolor in $color-rgb {
    .cf-#{$color} {   
        background-image: $valorcolor;
    }
}