@use 'paleta' as *;

$shadow-1: rgb(99, 163, 172);
$shadow-2:  10px 5px 5px $oscuro;
$shadow-superior:-15px -25px 10px $oscuro;
$shadow-inferior: 25px -25px 10px $oscuro;
$shadow-rgb: rgb(99, 163, 172);
$t-shadow: 4px 6px 8px black;

.sombra-1{
    box-shadow: $shadow-1;
}


.sombra-2{
    box-shadow: $shadow-2;
}

.sombra-superior{
    box-shadow: $shadow-superior;
}

.sombra-inferior{
    box-shadow: $shadow-inferior;
}
.srgb{
    box-shadow: $shadow-rgb;
}
.text-s{
    text-shadow: $t-shadow;
}

