@use 'paleta' as*;
.card {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  
    img {
        width: auto; // Permitir que la imagen mantenga su relación de aspecto
        height: 150px; // Altura fija para la imagen
        display: block;
        margin: 0 auto; // Centrar la imagen horizontalmente
    }
  
    .container {
      padding: 20px;
      display: flex; // Usar flexbox
    flex-direction: column; // Alinear el contenido en columna
  
      h4 {
        margin-top: 0;
            font-size: 16px; // Reducir el tamaño de la fuente
            color: $blanco;
            background-color: $primario;
            padding: 8px; // Reducir el relleno
            border-radius: 5px;
            text-align: center; // Centrar el texto
      }
  
      p {
        color: $oscuro;
        text-align: center;
      }
    }
  }